.container  {
  background-color: aqua;
}

.grid {
  display: grid;
  border-style: solid;
  border-width: 5px 5px;
  border-color: black;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 3rem;

  perspective: 1000px;
  background-color: transparent;
  isolation: isolate;
}

.gridItemInner {
  border-style: solid;
  border-width: 2px 2px;
  border-color: red;
  align-items: center;
  width: 200px;
  height: 200px;
  /* isolation: isolate; */
  position: relative;
}

.gridItemInner:hover  {
  transform: rotateY(180deg);
  transition: transform 2s;
  transform-style: preserve-3d;
}

.gridItemFront, .gridItemBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.gridItemFront  {
  background-color: greenyellow;
}

.gridItemBack {
  background-color: brown;
  transform: rotateY(180deg);
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  font-family: 'Fantasy';
  font-size: 3rem;
  text-align: center;
  border: 3px solid rgba(0,0,0,0.5);
  border-style: dashed;
  margin: 10px;
  cursor: pointer;
  z-index: 11;
  padding: 1rem;
}

/* odd numbers */
#grid-item-1, #grid-item-3, #grid-item-5,#grid-item-7,
#grid-item-9, #grid-item-11,#grid-item-13, #grid-item-15,
 #grid-item-17,#grid-item-19, #grid-item-21, #grid-item-23,
#grid-item-25
{
  background-color: rgb(197, 21, 21);
  opacity: 0.79;
  border-radius: 40% 10% / 20% 50%;
}

/* even numbers */
#grid-item-2, #grid-item-4, #grid-item-6,#grid-item-8,
#grid-item-10, #grid-item-12, #grid-item-14, #grid-item-16,
#grid-item-18,#grid-item-20, #grid-item-22, #grid-item-24
{
  background-color: green;
  opacity: 0.79;
  border-radius: 50% 20% / 10% 40%;}
