/* .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 3rem;

  perspective: 1000px;
  background-color: transparent;
  isolation: isolate;
} */

.gridItemInner {
  align-items: center;
  width: 200px;
  height: 200px;
  /* isolation: isolate; */
  position: relative;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
}

.gridItemInner:hover  {
  transform: rotateY(180deg);
  transition: transform 2s;
  transform-style: preserve-3d;
}

.gridItemFront, .gridItemBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.gridItemFrontEven  {
  background-color: greenyellow;
}

.gridItemFrontOdd {
  background-color: brown;
}

.gridItemBackOdd {
  transform: rotateY(180deg);
  background-color: greenyellow;
}

.gridItemBackEven {
  background-color: brown;
  transform: rotateY(180deg);
}


