<div class="container">
  <div class="grid">
    <div class="gridItemInner" [ngClass]="today >= data.cardNumber? 'hover' : 'disabled'">

      <div class="gridItemFront" [ngClass]="{
        gridItemFrontEven: data.cardNumber % 2 === 0,
        gridItemFrontOdd: data.cardNumber % 2 !== 0
      }">
        <p>{{data.cardNumber}}</p>
      </div>
        <div class="gridItemBack" [ngClass]="{
          gridItemBackEven: data.cardNumber % 2 === 0,
          gridItemBackOdd: data.cardNumber % 2 !== 0
        }">
        <p>Rejoice!  There are only {{25-data.cardNumber}} days left until Christmas!</p>
        <button
          (click)="onClick()">
           click
        </button>
      </div>
    </div>
  </div>
</div>
