/* .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 3rem;

  perspective: 1000px;
  background-color: transparent;
  isolation: isolate;
} */

.gridItemInner {
  align-items: center;
  width: 200px;
  height: 200px;
  /* isolation: isolate; */
  position: relative;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
}

.hover:hover  {
  transform: rotateY(180deg);
  transition: transform 2s;
  transform-style: preserve-3d;
}

.disabled {
  opacity: 90%;

}

.gridItemFront, .gridItemBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 25px 25px;
}

.gridItemFrontEven  {
  background-color: green;
  font-size: 4rem;
}

.gridItemFrontOdd {
  background-color: brown;
  font-size: 3.25rem;
  font-weight: bold;
}

.gridItemBackOdd {
  transform: rotateY(180deg);
  background-color: rgb(80, 201, 80);
  font-size: 1.5rem;
}

.gridItemBackEven {
  background-color: gold;
  transform: rotateY(180deg);
  font-size: 1.5rem;
}


