.wrapper {
  height: 100vh;
  background: linear-gradient(#123, #111);
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  overflow: hidden;
}
@-webkit-keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 7vw;
  left: 91vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(2) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: 1vw;
  left: 41vw;
  -webkit-animation: snowfall 8s linear infinite;
  animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: -9vw;
  left: 18vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: 6vw;
  left: 31vw;
  -webkit-animation: snowfall 12s linear infinite;
  animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: 8vw;
  --left-end: -1vw;
  left: 59vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 98vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(7) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 39vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(8) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 6vw;
  left: 93vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(9) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: 5vw;
  left: 63vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.snowflake:nth-child(10) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: -1vw;
  left: 95vw;
  -webkit-animation: snowfall 9s linear infinite;
  animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: 10vw;
  left: 29vw;
  -webkit-animation: snowfall 10s linear infinite;
  animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 1vw;
  --left-end: 0vw;
  left: 25vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.snowflake:nth-child(13) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -2vw;
  left: 13vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(14) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -6vw;
  left: 47vw;
  -webkit-animation: snowfall 11s linear infinite;
  animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.snowflake:nth-child(15) {
  --size: 0.8vw;
  --left-ini: 2vw;
  --left-end: 0vw;
  left: 4vw;
  -webkit-animation: snowfall 11s linear infinite;
  animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(16) {
  --size: 0.8vw;
  --left-ini: 7vw;
  --left-end: -6vw;
  left: 69vw;
  -webkit-animation: snowfall 14s linear infinite;
  animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(17) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -7vw;
  left: 34vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.snowflake:nth-child(18) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: -9vw;
  left: 13vw;
  -webkit-animation: snowfall 8s linear infinite;
  animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.snowflake:nth-child(19) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 23vw;
  -webkit-animation: snowfall 12s linear infinite;
  animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(20) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -2vw;
  left: 98vw;
  -webkit-animation: snowfall 15s linear infinite;
  animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.snowflake:nth-child(21) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -6vw;
  left: 44vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(22) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 4vw;
  left: 25vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(23) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: 8vw;
  left: 73vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}
.snowflake:nth-child(24) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: -6vw;
  left: 39vw;
  -webkit-animation: snowfall 11s linear infinite;
  animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: 2vw;
  --left-end: 4vw;
  left: 45vw;
  -webkit-animation: snowfall 9s linear infinite;
  animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(26) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: 4vw;
  left: 52vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.snowflake:nth-child(27) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: 2vw;
  left: 55vw;
  -webkit-animation: snowfall 12s linear infinite;
  animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(28) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: 10vw;
  left: 65vw;
  -webkit-animation: snowfall 11s linear infinite;
  animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(29) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 5vw;
  left: 35vw;
  -webkit-animation: snowfall 10s linear infinite;
  animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.snowflake:nth-child(30) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 2vw;
  left: 89vw;
  -webkit-animation: snowfall 11s linear infinite;
  animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}
.snowflake:nth-child(31) {
  --size: 0.6vw;
  --left-ini: 0vw;
  --left-end: -5vw;
  left: 78vw;
  -webkit-animation: snowfall 14s linear infinite;
  animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.snowflake:nth-child(32) {
  --size: 1vw;
  --left-ini: 7vw;
  --left-end: 4vw;
  left: 79vw;
  -webkit-animation: snowfall 15s linear infinite;
  animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.snowflake:nth-child(33) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: -2vw;
  left: 85vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(34) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 5vw;
  left: 7vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(35) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: -3vw;
  left: 64vw;
  -webkit-animation: snowfall 14s linear infinite;
  animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(36) {
  --size: 1vw;
  --left-ini: 1vw;
  --left-end: -6vw;
  left: 20vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(37) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 78vw;
  -webkit-animation: snowfall 9s linear infinite;
  animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(38) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: 9vw;
  left: 83vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.snowflake:nth-child(39) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -1vw;
  left: 64vw;
  -webkit-animation: snowfall 14s linear infinite;
  animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(40) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 7vw;
  left: 33vw;
  -webkit-animation: snowfall 14s linear infinite;
  animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.snowflake:nth-child(41) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: -2vw;
  left: 82vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.snowflake:nth-child(42) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 1vw;
  left: 33vw;
  -webkit-animation: snowfall 13s linear infinite;
  animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(43) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -4vw;
  left: 6vw;
  -webkit-animation: snowfall 12s linear infinite;
  animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}
.snowflake:nth-child(44) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -7vw;
  left: 46vw;
  -webkit-animation: snowfall 15s linear infinite;
  animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.snowflake:nth-child(45) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -8vw;
  left: 16vw;
  -webkit-animation: snowfall 10s linear infinite;
  animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(46) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 18vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(47) {
  --size: 0.6vw;
  --left-ini: 4vw;
  --left-end: -9vw;
  left: 76vw;
  -webkit-animation: snowfall 7s linear infinite;
  animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.snowflake:nth-child(48) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -6vw;
  left: 79vw;
  -webkit-animation: snowfall 6s linear infinite;
  animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.snowflake:nth-child(49) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: 1vw;
  left: 62vw;
  -webkit-animation: snowfall 9s linear infinite;
  animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.snowflake:nth-child(50) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: 5vw;
  left: 31vw;
  -webkit-animation: snowfall 12s linear infinite;
  animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

.login-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 25rem;
  height: 25rem;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
  margin-bottom: 5rem;
}

.login-header {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}

.login-prompt form {
  margin-top: 0.5rem;
}

.form-group {
  margin: 1.25rem 0;
}

.form-group label {
  margin-bottom: 0.3rem;
}

.form-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-btn-container button {
  width: 20rem;
  font-size: 1.2rem;
}
