.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #c00c00;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 25rem;
  height: 25rem;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
  margin-bottom: 15rem;
}

.login-header {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}

.login-prompt form {
  margin-top: 0.5rem;
}

.form-group {
  margin: 1.25rem 0;
}

.form-group label {
  margin-bottom: 0.3rem;
}

.form-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-btn-container button {
  width: 20rem;
  font-size: 1.2rem;
}

.snowflake {
  width: 100px;
  height: 100px;
}
