<div class="login-container">
  <div class="snowflakes"></div>
  <div class="login-prompt">
    <h1 class="login-header">Sign up for the calendar!</h1>
    <form #loginFormRef="ngForm" (ngSubmit)="onSubmit(loginFormRef)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel />
      </div>
      <div class="form-btn-container"><button type="submit">Login</button></div>
    </form>
  </div>
</div>
