nav {
  width: 100%;
  margin: 15px 0 auto;
  position: fixed;
  z-index: 100;
}

.wrapper {
  background-color: #3f424f;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  padding: 0.5rem 0;
}

.nav-container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 90%;
  border: 2px dashed rgb(255, 215, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-main-link {
  display: flex;
  align-items: center;
}

.nav-title {
  align-self: center;
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 600;
  white-space: nowrap;
}

.navbar-dropdown {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  margin-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107 114 128);
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 10px;
}

.navbar-dropdown:hover {
  background-color: rgb(243 244 246);
}

.navbar-dropdown:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 870px) {
  .navbar-dropdown {
    display: none;
  }
}

#navbar-dropdown {
  display: hidden;
  width: 100%;
}

@media (min-width: 870px) {
  #navbar-dropdown {
    display: block;
    width: auto;
  }
}

.dropdown-list {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #3f424f;
  color: #fff;
}

.show {
  display: flex;
}

@media (min-width: 870px) {
  .dropdown-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-width: 0;
    background-color: #3f424f;
    color: #fff;
  }
}

.nav-link {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1.3rem;
}

.nav-link:hover {
  background-color: rgb(243 244 246);
}

@media (min-width: 768px) {
  .nav-link {
    border-width: 0;
    padding: 0;
  }

  .nav-link:hover {
    background-color: transparent;
    color: rgb(29 78 216);
  }
}
