@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* styles placed in root */
:root {
  --md-screen: 768px;
}

body {
  display: block;
  height: 100vh;
  margin: 0;
}

/* global typography */
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

button {
  color: #fff;
  border: none;
  background-color: #c00c00;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
}

button:active {
  transform: scale(0.94);
  transition: transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* form styles */
label {
  display: block;
}

input {
  display: block;
  width: 18.75rem;
  height: 2rem;
  font-size: 0.9rem;
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
