/* body  {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRww5D3QYSDp9ZvsL5o3ojF9lN_OqzcCwDYig&usqp=CAU);
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100vw;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-family: 'Fantasy';
  font-size: 50px;
  text-align: center;
  border: 3px solid rgba(0,0,0,0.5);
  margin: 10px;
  cursor: pointer;
}

#grid-item-1, #grid-item-3, #grid-item-5,#grid-item-7,
#grid-item-9, #grid-item-11,#grid-item-13, #grid-item-15,
 #grid-item-17,#grid-item-19, #grid-item-21, #grid-item-23,
#grid-item-25
{
  background-color: rgb(197, 21, 21);
  border-radius: 40% 10% / 20% 50%;
}

#grid-item-2, #grid-item-4, #grid-item-6,#grid-item-8,
#grid-item-10, #grid-item-12, #grid-item-14, #grid-item-16,
#grid-item-18,#grid-item-20, #grid-item-22, #grid-item-24
{
  background-color: green;
  border-radius: 50% 20% / 10% 40%;}

/* I'm leaving all these grid items below for now in case
we want to add style these items individually. For example: individual sizes, or individual colors */

.backOfCard {
  transform: rotateY(270deg);
  transition-duration: 3s;
  background-color: blue;
}

#grid-item-1 {
  /* border-radius: 0% 30% ; */
  /* transform: rotateX(150deg);
  transform: rotateY(150deg);
  transform: rotateZ(90deg); */
  /* transform: rotate3d(360deg);
  transition-duration: 3s; */
}

#grid-item-2 {
 /* border-radius: 100px; */
}

#grid-item-3 {

}

#grid-item-4 {

}

#grid-item-5 {

}

#grid-item-6 {
  transform: rotateY(150deg);
  animation-duration: 10s;

}

#grid-item-7 {

}

#grid-item-8 {

}

#grid-item-9 {

}

#grid-item-10 {

}

#grid-item-11 {

}

#grid-item-12 {

}

#grid-item-13 {

}

#grid-item-14 {

}

#grid-item-15 {

}

#grid-item-16 {

}

#grid-item-17 {

}

#grid-item-18 {

}

#grid-item-19 {

}

#grid-item-20 {

}

#grid-item-21 {

}

#grid-item-22 {

}

#grid-item-23 {

}

#grid-item-24 {

}

#grid-item-25 {

}

